<ion-header>
  <ion-toolbar color="menu">
    <ion-button color="buttons" slot="start">
      <ion-back-button icon="arrow-back" defaultHref="{{ eventName }}/Anmeldung"></ion-back-button>
    </ion-button>
    <ion-title>Passwort vergessen?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
    <ion-card color="background" class="content">
      <ion-card-header>
        <ion-title>Passwort vergessen</ion-title>
      </ion-card-header>
      <ion-card-content *ngIf="text">
        <ion-label color="text">
          {{ text }}
        </ion-label>
      </ion-card-content>
      <ion-card-content>
        <ion-segment color="buttons" [(ngModel)]="formType">
          <ion-segment-button value="students">
            <ion-label>Schüler</ion-label>
          </ion-segment-button>
          <ion-segment-button value="leaders">
            <ion-label>{{ projectNoun }}leiter</ion-label>
          </ion-segment-button>
          <ion-segment-button value="admins">
            <ion-label>Admin</ion-label>
          </ion-segment-button>
        </ion-segment>

        <form #forgotPasswordStudent="ngForm" (ngSubmit)="sendPasswordEmail()" class="content"  [hidden]="formType != 'students'">
          <ion-card color="background">
            <ion-card-header>
              <ion-card-title>Schüler</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item color="items">
                  <ion-input color="text" [(ngModel)]="forgotPasswordData.email" name="user_name" placeholder="E-Mail" required type="email"></ion-input>
                </ion-item>
                <div class="ion-padding">
                  <ion-button color="buttons" [disabled]="forgotPasswordStudent.invalid" name="LogIn" expand="block" type="submit" class="ion-no-margin">E-Mail senden</ion-button>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </form>

        <form #forgotPasswordLeader="ngForm" (ngSubmit)="sendPasswordEmail()" class="content" [hidden]="formType != 'leaders'">
          <ion-card color="background">
            <ion-card-header>
              <ion-card-title>{{ projectNoun }}leiter</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item color="items">
                  <ion-input color="text" [(ngModel)]="forgotPasswordData.email" name="email" placeholder="E-Mail" required type="email"></ion-input>
                </ion-item>
                <div class="ion-padding">
                  <ion-button color="buttons" [disabled]="forgotPasswordLeader.invalid" name="LogIn" expand="block" type="submit" class="ion-no-margin">E-Mail senden</ion-button>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </form>

        <form #forgotPasswordAdmin="ngForm" (ngSubmit)="sendPasswordEmail()" class="content" [hidden]="formType != 'admins'">
          <ion-card color="background">
            <ion-card-header>
              <ion-card-title>Admin</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item color="items">
                  <ion-input color="text" [(ngModel)]="forgotPasswordData.email" name="email" placeholder="E-Mail" required type="email"></ion-input>
                </ion-item>
                <div class="ion-padding">
                  <ion-button color="buttons" [disabled]="forgotPasswordAdmin.invalid" name="LogIn" expand="block" type="submit" class="ion-no-margin">E-Mail senden</ion-button>
                </div>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </form>
      </ion-card-content>
    </ion-card>
</ion-content>
