<ion-header>
  <ion-toolbar color="menu">
    <ion-title>Schüler</ion-title>
    <ion-button color="buttons" slot="end" (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-card color="background"class="content">
    <ion-card-header>
      <ion-item color="items" lines="none">
        <ion-card-title><ion-label color="buttons" text-wrap>Willkommen {{ loadedStudent.user_name }}</ion-label></ion-card-title>
        <ion-button (click)="refresh()" slot="end" color="buttons"><ion-icon name="refresh"></ion-icon></ion-button>
      </ion-item>
    </ion-card-header>
    <ion-card-content *ngIf="text">
      <ion-label color="text">
        {{ text }}
      </ion-label>
    </ion-card-content>
    <ion-card-content *ngIf="loadedStudent.email_verified_at == null && !buttonPressed">
      <ion-label color="text">
        Sie heaben Ihre E-Mail noch nicht verifiziert. Bitte holen Sie dies nach bevor Sie fortfahren.
      </ion-label>
      <div class="ion-padding">
        <ion-button color="buttons" expand="block" class="ion-no-margin" (click)="sendVerificationEmail()">E-Mail senden</ion-button>
      </div>
    </ion-card-content>
    <ion-card-content>
      <ion-list>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="currentDate > schedule.registration" routerLink='./{{ projectsNoun }}'>
          <ion-icon color="text" slot="start" name="apps"></ion-icon>Alle {{ projectsNoun }}
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="currentDate > schedule.registration && currentDate <= schedule.sort_students" [routerLink]="['./Anmeldung']">
          <ion-icon color="text" slot="start" name="log-in"></ion-icon>Anmeldedaten eingeben
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="loadedStudent.role === 1 && loadedStudent.project_id != 0 && currentDate > schedule.exchange && currentDate <= schedule.projects" [routerLink]="['./Tauschanfrage senden']">
          <ion-icon color="text" slot="start" name="send"></ion-icon>Tauschanfragen senden
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="loadedStudent.role === 1 && loadedStudent.exchange_requests.length > 0 && loadedStudent.project_id != 0 && loadedStudent.exchange_id == 0 && currentDate > schedule.exchange && currentDate <= schedule.projects" [routerLink]="['./Tauschanfrage bestätigen']">
          <ion-icon color="text" slot="start" name="swap-horizontal"></ion-icon>Tauschanfrage bestätigen
          <ion-badge color="buttons" slot="end">{{ loadedStudent.exchange_requests.length }}</ion-badge>
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="loadedStudent.role === 1 && loadedStudent.project_id != 0" routerLink='./{{ projectNoun }}'>
          <ion-icon color="text" slot="start" name="people"></ion-icon>{{ projectNoun }} einsehen
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="currentDate > schedule.begin && currentDate <= schedule.control && loadedStudent.project_id == 0 && loadedStudent.role === 1 && studentsCanCreateProjects" routerLink='./{{ projectNoun }} erstellen'>
          <ion-icon color="text" slot="start" name="create"></ion-icon>{{ projectNoun }} erstellen
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="loadedStudent.role === 2 && loadedStudent.project_id != 0 && studentsCanCreateProjects" routerLink='./{{ projectNoun }} verwalten'>
          <ion-icon color="text" slot="start" name="construct"></ion-icon>{{ projectNoun }} verwalten
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="currentDate > schedule.begin && currentDate <= schedule.control && loadedStudent.role === 2 && loadedStudent.project_id != 0 && studentsCanCreateProjects" [routerLink]="['./Assistenten verwalten']">
          <ion-icon color="text" slot="start" name="construct"></ion-icon>Assistenten verwalten
        </ion-item>
        <ion-item [disabled]="loadedStudent.email_verified_at == null" color="items" *ngIf="loadedStudent.role === 2 && loadedStudent.project_id != 0 && studentsCanCreateProjects" [routerLink]="['./Nachricht senden']">
          <ion-icon color="text" slot="start" name="send"></ion-icon>Notiz an das Projekt anfügen
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button color="buttons" expand="block" class="ion-no-margin" (click)="logout()">Abmelden</ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
