<ion-header>
  <ion-toolbar color="menu">
    <ion-title>Einstellungen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-card color="background"class="content">
    <ion-card-header>
      <ion-card-title>Theme ändern</ion-card-title>
      <ion-card-subtitle>Hintergrund</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="text">
        {{ text1 }}
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-segment mode="md"color="buttons" [(ngModel)]="background" (ionChange)="change()">
        <ion-segment-button value="dark">
          <ion-label color="text">Dunkel</ion-label>
        </ion-segment-button>
        <ion-segment-button value="light">
          <ion-label color="text">Hell</ion-label>
        </ion-segment-button>
        <ion-segment-button value="auto">
          <ion-label color="text">Automatisch</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
    <ion-card-header>
      <ion-card-subtitle>Vordergrund</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-label color="text">
        {{ text2 }}
      </ion-label>
    </ion-card-content>
    <ion-card-content>
      <ion-segment mode="md" color="buttons" [(ngModel)]="color" (ionChange)="change()">
        <ion-segment-button value="blue">
          <ion-label color="text">Blau</ion-label>
        </ion-segment-button>
        <ion-segment-button value="pink">
          <ion-label color="text">Pink</ion-label>
        </ion-segment-button>
        <ion-segment-button value="yellow">
          <ion-label color="text">Gelb</ion-label>
        </ion-segment-button>
        <ion-segment-button value="green">
          <ion-label color="text">Grün</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>
  </ion-card>
</ion-content>
